# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Image Identification\Mnist-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
